<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer_club.name %>
</p>

<p>
  <b>Founded:</b>
  <%= @beer_club.founded %>
</p>

<p>
  <b>City:</b>
  <%= @beer_club.city %>
</p>

<p>
  <b>Members:</b>
  <ul>
    <% @beer_club.members.each do |member| %>
       <li><%= link_to member.username, member %></li>
    <% end %>
  </ul>
</p>

<% if current_user %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit "Join! Die! Join! Die!",  :class => "btn btn-primary" %>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_beer_club_path(@beer_club), :class => "btn btn-primary" if current_user %> |
<%= link_to 'Destroy', @beer_club, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
