<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <%= @user.username %> has done <%=  pluralize(@user.ratings.count, 'rating') %>
  <% if not @user.ratings.empty? %>
      , with average of <%= @user.average_rating %>
  <% end %>
</p>

<% if not @user.ratings.empty? %>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if currently_signed_in?(@user) %>
                <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <p>favorite brewery is <%= @user.favorite_brewery.name %><br />
    favorite style is <%= @user.favorite_style %></p>
<% end %>

<% if not @user.memberships.empty? %>
<p>belongs to
      <% @user.memberships.each do |m| %>
            <%=link_to m.beer_club.name, m.beer_club %>
      <% end %>
</p>
<% end %>


<% if currently_signed_in?(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', users_path %>
