<p id="notice"><%= notice %></p>


<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>

<ul>
  <% @style.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %> </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_style_path(@style), :class => "btn btn-primary" if current_user %>
<%= link_to 'Destroy', @style,:class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
<%= link_to 'Back', styles_path, :class => "btn btn-primary" %>
