<p id="notice"><%= notice %></p>


<h1><%= @style.name %></h1>

<p>
  <%= @style.description %>
</p>

<ul>
  <% @style.beers.each do |beer| %>
      <li><%= link_to beer.name, beer %> </li>
  <% end %>
</ul>


<%= edit_and_destroy_buttons(@style) %>
