<p id="notice"><%= notice %></p>

  <h2><%= @brewery.name %></h2>

<p>
  <i>Established year <%= @brewery.year %></i>
</p>

<p>
  <b>Beers:</b>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %> <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
<%= link_to 'list of beers', beers_path %>
