<p id="notice"><%= notice %></p>

  <h2><%= @brewery.name %></h2>

<p>
  <i>Established year <%= @brewery.year %></i>
</p>

<p>
  <b>Beers:</b>
  <%= @brewery.beers.count %>
</p>

<p>
  <ul>
      <% @brewery.beers.each do |beer| %>
         <li><%= link_to beer.name, beer %> </li>
      <% end %>
  </ul>
</p>

<p>
  <b>Ratings:</b>
  <%= @brewery.name%>'s beers have <%= pluralize(@brewery.ratings.count, 'rating')%>
  <% if !@brewery.ratings.empty? %>
  with the average of <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery), :class => "btn btn-primary" if current_user %>
<%= link_to 'Destroy', @brewery,:class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
