<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery_id %>
</p>

<p>
  <% if @beer.ratings.empty? %>
      beer has not yet been rated!
  <% else %>
      beer has <%= pluralize(@beer.ratings.count, 'rating') %>, average: <%= @beer.average_rating %>
  <% end %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
<%= link_to 'list of breweries', breweries_path %>
